# vim Turds
*.sw[op]
*.vim

*.*#*
_autosave-*
_saved_*
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1129.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1129.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1129.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1130ORP.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1130ORP.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1130ORP.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1130pH.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1130pH.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1130pH.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1131.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1131.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1131.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1132.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1132.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1132.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1133.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1133.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1133.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1134.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1134.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1134.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1135.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1135.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor1135.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor3120.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor3120.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor3120.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor3500.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor3500.designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/Sensor3500.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/SensorBox.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/SensorBox.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/SensorExamples/SensorBox.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/TextInputBox.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-simple/InterfaceKit-simple/InterfaceKit-simple.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-simple/InterfaceKit-simple/InterfaceKit-simple_vs2008.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/InterfaceKitExamples/InterfaceKit-simple/InterfaceKit-simple/Properties/AssemblyInfo.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/ErrorEventBox.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/MotorControl-full.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/MotorControl-full_vs2008.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/Properties/AssemblyInfo.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/Properties/Resources.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/Properties/Resources.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/Properties/Settings.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/Properties/Settings.settings
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-full/MotorControl-full/TextInputBox.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-simple/MotorControl-simple/MotorControl-simple.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-simple/MotorControl-simple/MotorControl-simple_vs2008.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/MotorControlExamples/MotorControl-simple/MotorControl-simple/Properties/AssemblyInfo.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/ServoExamples/Servo-multi/Servo-multi/Servo-multi/Properties/Resources.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/ServoExamples/Servo-multi/Servo-multi/Servo-multi/Properties/Settings.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/SpatialExamples/Spatial-CompassCalibrator/CompassCalibrator/CompassCalibrator.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/SpatialExamples/Spatial-CompassCalibrator/CompassCalibrator/CompassCalibrator_vs2008.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/SpatialExamples/Spatial-CompassCalibrator/CompassCalibrator/Properties/AssemblyInfo.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/SpatialExamples/Spatial-CompassCalibrator/CompassCalibrator/Properties/Resources.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/SpatialExamples/Spatial-CompassCalibrator/CompassCalibrator/Properties/Resources.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/SpatialExamples/Spatial-CompassCalibrator/CompassCalibrator/Properties/Settings.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/SpatialExamples/Spatial-CompassCalibrator/CompassCalibrator/Properties/Settings.settings
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/1051_1.ico
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/ErrorEventBox.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/ErrorEventBox.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/ErrorEventBox.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/Form1.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/Form1.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/Form1.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/Program.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/TemperatureSensor-full.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/TemperatureSensor-full_vs2008.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/TextInputBox.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/TextInputBox.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full/TextInputBox.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-full/TemperatureSensor-full_vs2008.sln
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/Program.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/TemperatureSensor-simple.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/TEMPER~2.CSP
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/WPF_VS2010/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple/Properties/AssemblyInfo.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/WPF_VS2010/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple/Properties/Resources.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/WPF_VS2010/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple/Properties/Resources.resx
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/WPF_VS2010/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple/Properties/Settings.Designer.cs
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/WPF_VS2010/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple/Properties/Settings.settings
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/WPF_VS2010/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple.csproj
doc/vendor/Phidgets/1024 - Temp Sensor - Code Samples/CSharp_2.1.8.20120503/CSharp/WPF_VS2010/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple/WPF_IntefaceKit-simple.csproj.user
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.Properties.Resources.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.BaseSensor.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1101_GP2D12.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1101_GP2D120.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1101_GP2Y0A02YK.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1102.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1103.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1104.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1105.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1106.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1107.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1108.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1109.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1110.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1111.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1112.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1113X.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1113Y.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1115.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1116.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1117.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1118AC.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1118DC.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1119AC.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1119DC.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1120.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1121.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1122AC.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1122DC.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1123.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1124.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1125H.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1125T.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1126.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1127.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1128.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1129.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1130ORP.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1130pH.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1131.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1132.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1133.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1134.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor1135.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor3120.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.Sensor3500.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/InterfaceKitExamples/InterfaceKit-full/InterfaceKit-full/obj/Debug/InterfaceKit_full.SensorExamples.SensorBox.resources
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/Backup/TemperatureSensor-simple/TemperatureSensor-simple.csproj
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/bin/Debug/TemperatureSensor-simple.exe
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/bin/Debug/TemperatureSensor-simple.pdb
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/bin/Debug/TemperatureSensor-simple.vshost.exe
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/bin/Debug/TemperatureSensor-simple.vshost.exe.manifest
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/obj/Debug/ResolveAssemblyReference.cache
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/obj/Debug/TemperatureSensor-simple.csproj.FileListAbsolute.txt
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/obj/Debug/TemperatureSensor-simple.exe
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/obj/Debug/TemperatureSensor-simple.pdb
doc/vendor/Phidgets/Programming/C/CSharp Examples/TemperatureSensorExamples/TemperatureSensor-simple/TemperatureSensor-simple/TemperatureSensor-simple_vs2008.csproj
